
            <p class="lnfo_title"><strong>신종 코로나바이러스 감염</strong>이 의심될 땐 전화주세요.</p>
            <div class="info_tel">
                <dl>
                    <dt>질병관리본부 : </dt>
                    <dd><a href="tel:1339">1339</a></dd>
                </dl>
                <dl>
                    <dt>중국 방문자 : </dt>
                    <dd><a href="tel:1644-2000">1644-2000</a></dd>
                </dl>
                <dl>
                    <dt>콜센터 : </dt>
                    <dd><a href="tel:032-120">지역번호) + 120</a></dd>
                </dl>
            </div>
            <table class="public_health_table">
                <colgroup>
                    <col width="50%;" />
                    <col width="50%;" />
                </colgroup>
                <tr>
                    <th>보건소</th>
                    <td>주˙야간 : <a href="tel:000)000-5333">000)000-5333~7</a></td>
                </tr>
            </table>