@inject IndexPopupViewModel viewModel
                    <ViewModelRegion ViewModel="@viewModel">
                        <div class="popup_layer" style="display:@(viewModel.IndexPop == IndexPop.Pop1 ? "block": "none");">
                            <div class="popup_header">
                                <h2>선별진료소 현황</h2>
                                <a href="javascript:;" class="popup_close" @onclick="() => viewModel.ClosePop()">닫기</a>
                            </div>
                            <div class="popup_body">
                                <div class="scroll">
                                    <div class="nav">
                                        <h3>000구 선별진료소 현황</h3>
                                        <table class="popup_table">
                                            <thead>
                                                <tr>
                                                    <th>구분</th>
                                                    <th>선별진료소 명</th>
                                                    <th>주소</th>
                                                    <th>대표번호</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>보건소</td>
                                                    <td>000구 보건소</td>
                                                    <td>000구 000로  25 </td>
                                                    <td><a href="tel:000-000-0000">000-000-0000</a> </td>
                                                </tr>
                                                <tr>
                                                    <td>의료기관</td>
                                                    <td>0000병원</td>
                                                    <td>000구 00로 503</td>
                                                    <td><a href="tel:000-000-0000">000-000-0000</a> </td>
                                                </tr>
                                                <tr>
                                                    <td>의료기관</td>
                                                    <td>0000병원 </td>
                                                    <td>000구 000대로 726 </td>
                                                    <td><a href="tel:000-000-0000">000-000-0000</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="map_view"><a href="http://icloud.incheon.go.kr/arcgis/apps/webappviewer/index.html?id=5fcc5572267f431e81669eec5fc6887e" target="_blank">선별 진료소 지도로 보기</a></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--어린이집 Q&A -->
                        <div class="popup_layer" style="display:@(viewModel.IndexPop == IndexPop.Pop2 ? "block": "none");">
                            <div class="popup_header">
                                <h2>Q&A</h2>
                                <a href="javascript:;" class="popup_close" @onclick="() => viewModel.ClosePop()">닫기</a>
                            </div>
                            <div class="popup_body">
                                <div class="scroll">
                                    <div class="nav">
                                        <h3>여행관련</h3>
                                        <p class="q">Q. 중국에서 신종 코로나바이러스감염증이 유행하고 있는데 중국 여행을 가도 되나요?</p>
                                        <ul class="a">
                                            <li>대한민국정부는 최근 여행경보 단계를 조정하여 중국 후베이성은 여행경보 3단계(철수권고, 1.25일 기준), 전 중국지역*은 여행경보 2단계(여행자제, 1.28일 기준)를 발령하였습니다.<br>※ 홍콩·마카오 포함, 대만 제외</li>
                                            <li>대한민국정부는 최근 여행경보 단계를 조정하여 중국 후베이성은 여행경보 3단계(철수권고, 1.25일 기준), 전 중국지역*은 여행경보 2단계(여행자제, 1.28일 기준)를 발령하였습니다.</li>
                                        </ul>
                                        <div class="box">
                                            <p class="first">국민 감염 예방 행동 수칙</p>
                                            <p>기침 등 호흡기 증상이 있을 경우 반드시 <strong>마스크 착용! </strong><br><strong>특히,</strong> 외출하거나 의료기관 방문 시 착용</p>
                                            <p>흐르는 물에 30초 이상 자주 <strong>손 씻기 !</strong></p>
                                            <p>눈·코·입 만지지 않기</p>
                                            <p>마스크가 없으면 기침이나 재채기할 때 옷소매로 입과 코 가리기</p>
                                            <p>※해외  <strong>여행력을 의료진에게 알리기!</strong></p>
                                            <p>- 후베이성(우한시 포함) 등 중국 여행 후 14일 이내 발열 또는 호흡기 증상(기침, 인후통 등)이 발생할 경우</p>
                                            <ul>
                                                <li><strong>1. 질병관리본부 콜센터 ☎1339로 문의</strong></li>
                                                <li><strong>2. 선별진료소를 우선 방</strong>문</li>
                                                <li><strong>3. 의료진에게 반드시 해외여행력 알리기</strong></li>
                                            </ul>
                                        </div>
                                        <p class="q">Q. 중국 여행 시 감염예방을 위해 지켜야 할 사항은 무엇인가요?</p>
                                        <ul class="a">
                                            <li>방문 전 <br>- 질병관리본부 ‘해외감염병NOW’에서 발생 정보 및 감염병 예방 수칙을 확인해주세요.</li>
                                            <li>방문 중 <br>- 가금류, 야생동물과의 접촉을 피해주세요. <br>호흡기 유증상자(발열, 호흡곤란 등)와의 접촉을 피해주세요. <br>현지 시장 등 감염위험이 있는 장소 방문을 자제해주세요. <br>손씻기, 기침 예절 등 개인위생을 철저히 지켜주세요.</li>
                                            <li>
                                                방문 후 <br>- 14일 이내 발열 또는 호흡기 증상(기침, 인후통 등)이 발생하면 질병관리본부 콜센터 ☎1339(24시간 상담가능) 또는 보건소 로 문의 하시기 바랍니다. <br>- 또한 의심 증상으로 진료를 받고자 하실 경우는 지역 내
                                                <strong>선별진료소를 우선으로 방문</strong> 하시고, <br>- 진료 전 의료진에게 반드시 해외여행력을 알리시기 바랍니다.
                                            </li>
                                        </ul>
                                        <div class="box">
                                            <p class="first">국민 감염 예방 행동 수칙</p>
                                            <p>기침 등 호흡기 증상이 있을 경우 반드시 <strong>마스크 착용! </strong><br><strong>특히,</strong> 외출하거나 의료기관 방문 시 착용</p>
                                            <p>흐르는 물에 30초 이상 자주 <strong>손 씻기 !</strong></p>
                                            <p>눈·코·입 만지지 않기</p>
                                            <p>마스크가 없으면 기침이나 재채기할 때 옷소매로 입과 코 가리기</p>
                                            <p>※해외  <strong>여행력을 의료진에게 알리기!</strong></p>
                                            <p>- 후베이성(우한시 포함) 등 중국 여행 후 14일 이내 발열 또는 호흡기 증상(기침, 인후통 등)이 발생할 경우</p>
                                            <ul>
                                                <li><strong>1. 질병관리본부 콜센터 ☎1339로 문의</strong></li>
                                                <li><strong>2. 선별진료소를 우선 방</strong>문</li>
                                                <li><strong>3. 의료진에게 반드시 해외여행력 알리기</strong></li>
                                            </ul>
                                        </div>
                                        <p class="q">Q. 후베이성(우한시 포함) 등 중국 여행을 다녀온 후 주의사항은 무엇인가요?</p>
                                        <ul class="a">
                                            <li>중국 후베이성(우한시 포함) 방문 후 14일 이내 발열 또는 호흡기 증상(기침, 인후통 등) 중 어느 하나라도 있을 시 반드시 질병관리본부 콜센터 ☎1339 또는 보건소와 상담해 주시고 선별진료소를 우선 방문하여 반드시 의료진에게 해외여행력을 알리고 진료를 받으시기 바랍니다.</li>
                                            <li>또한 증상 발생 시 타인 접촉을 최소화하고, 마스크 착용, 기침예절, 손씻기 등을 준수해 주시기 바랍니다.</li>
                                        </ul>
                                        <p class="q">Q. 후베이성(우한시 포함) 등 중국 여행을 다녀온 후 어떤 증상이 있을 때, 어디로 문의해야 하나요?</p>
                                        <ul class="a">
                                            <li>중국 후베이성(우한시 포함)을 방문 후 14일 이내 발열 또는 호흡기 증상(기침, 인후통 등) 중 어느 하나라도 나타나면 반드시 질병관리본부 콜센터 ☎1339 또는 보건소와 상담해 주시기 바랍니다.</li>
                                        </ul>
                                        <p class="q">Q. 중국에서 발생하는 신종 코로나바이러스감염증 원인, 증상은 무엇인가요?</p>
                                        <ul class="a">
                                            <li>원인병원체는 신종 코로나바이러스로 알려져 있으며, 증상은 발열 및 호흡기 증상(기침, 인후통, 폐렴 등)이 주로 나타납니다.</li>
                                        </ul>
                                        <h3>감염예방관련</h3>
                                        <p class="q">Q. 마스크는 어떤 것을 써야 하나요?</p>
                                        <ul class="a">
                                            <li>일상생활에서 감염병 예방을 위하여 사용하는 마스크의 기준은 따로 제공되고 있지 않습니다.</li>
                                            <li>WHO 권고에 따라 질병관리본부는 의심환자 진료 또는 이송 시 보건의료인(의료진, 이송요원 등)에 대해서는 KF94(N95) 또는 동급의 호흡기보호구를 착용하도록 권고하고 있습니다.</li>
                                            <li>마스크 사용 시 예방 효과를 유지하는 것이 중요하므로 일반마스크를 착용하더라도 자주 교환하여 사용하여주시기 바랍니다.</li>
                                        </ul>
                                        <p class="q">Q. 감염 예방차원에서 주변 환경을 소독하고 싶은데 어떤 방법이 있나요?</p>
                                        <ul class="a">
                                            <li>환경소독제는 낮은 수준의 소독제로, 차아염소산나트륨(락스), 알코올, 폐놀화합물(phenolic coumpounds), 4급 암모늄화합물, 과산화물(peroxygen compounds) 등이 적절하며, 환경소독제 사용 시 희석배율, 접촉시간, 취급 시 주의사항 등 제조사 권장사항을 준수하셔야 합니다.</li>
                                            <li>차아염소산나트륨(락스)을 사용할 경우 시중에 판매하는 락스의 농도를 확인하여 유효염소농도를 0.05% 또는 500 ppm으로 희석하여 사용하되, 희석방법, 희석 후 유효기간 등은 제조사 권고사항을 참조하셔야 합니다.</li>
                                        </ul>
                                        <p class="q">Q. 손소독제는 어떤 것을 사용해야 하나요?</p>
                                        <ul class="a">
                                            <li>손을 통한 감염을 예방하기 위해서는 흐르는 물에 30초 이상 비누를 사용하여 손 씻기를 권고합니다. 다만, 손을 씻을 수 없는 경우에는 식품의약품안전처에서 허가한 손소독제를 사용하시기 바랍니다.</li>
                                        </ul>
                                        <h3>검사 관련</h3>
                                        <p class="q">Q. 신종 코로나바이러스 감염증은 진단법이 있는지요?</p>
                                        <ul class="a">
                                            <li>질병관리본부와 18개 시·도 보건환경연구원에서 판코로나바이러스 검사법과 염기서열분석으로 진단이 가능하며 최근 실시간 유전자 검출 검사법을 개발하여 더욱 신속히 검사를 시행하고 있습니다.</li>
                                        </ul>
                                        <p class="q">Q. 검사결과를 확인하는데 얼마나 걸리나요?</p>
                                        <ul class="a">
                                            <li>기존에는 1∼2일 소요되었으나, 1월31일부터 새롭게 개발한 실시간 유전자 검출 검사법으로 검사시간을 6시간*으로 단축하여 검사를 실시하고 있습니다. <br>* 검사진행에 소요되는 시간은 상황에 따라 변동될 수 있음</li>
                                        </ul>
                                        <p class="q">Q. 검사비용은 얼마나 드나요?</p>
                                        <ul class="a">
                                            <li>현재까지는 질병관리본부와 18개 시·도 보건환경연구원에서 진단검사를 진행하고 있으므로 검사비용은 국가가 부담하고 있습니다.</li>
                                        </ul>
                                        <p class="q">Q. 이번에 양성 판정된 코로나바이러스는 어떻게 확인하셨나요?</p>
                                        <ul class="a">
                                            <li>질병관리본부가 기 구축한 판코로나바이러스 검사법(Conventional PCR)에서 양성을 확인하였습니다.</li>
                                            <li>또한 유전자의 염기서열을 분석한 결과, 중국에서 공개한 신종(우한) 바이러스(6종)와 100% 일치함을 확인하였습니다.</li>
                                        </ul>
                                        <p class="q">Q. 향후 검사 확대 계획은 어떻게 되나요?</p>
                                        <ul class="a">
                                            <li>향후 조속히 민간 의료기관(검사기관 포함)에서도 검사가 시행될 수 있도록 준비하고 있습니다.</li>
                                        </ul>
                                        <p class="q">Q. 중국을 방문한 후에 증상은 없지만 검사로 감염 여부를 확인할 수 있나요?</p>
                                        <ul class="a">
                                            <li>증상이 없는 경우 검사를 받을 필요가 없으나, 감염병에는 잠복기가 있어 이후에 증상이 발생할 수도 있기 때문에 중국 여행 후 14일 이내 증상이 나타나면 질병관리본부 콜센터 ☎1339 또는 보건소와 상담해 주시기 바랍니다.</li>
                                        </ul>
                                        <h3>감염원 및 전파 관련</h3>
                                        <p class="q">Q. 신종 코로나바이러스 감염증은 어떻게 전염되나요? </p>
                                        <ul class="a">
                                            <li>신종 코로나바이러스의 전파경로는 비말(침방울) 및 호흡기 분비물(콧물, 가래 등)과의 접촉입니다. 신종 코로나바이러스에 감염된 사람이 기침, 재채기를 했을 때 공기 중으로 날아간 비말이 다른 사람의 호흡기로 들어가거나, 손에 묻은 바이러스가 눈·코·입 등을 만질 때 점막을 통해 바이러스가 침투하여 전염이 됩니다.</li>
                                        </ul>
                                        <p class="q">Q. 신종 코로나바이러스감염증은 사람 간 전염이 되나요?</p>
                                        <ul class="a">
                                            <li>중국 내 가족 간 감염 사례, 의료진 감염 사례 등이 보고되고 있으며, 우한시 내에서는 3∼4차 감염까지 보고되고 있습니다. </li>
                                        </ul>
                                        <p class="q">Q. 중국 초기 보도내용은 제한된 사람 간 감염만 이루어지고 있다고 했는데, 현재 상황은 이와 다른 것 같습니다. 어떠한 판단인가요?</p>
                                        <ul class="a">
                                            <li>현재까지 발생상황은 중국 우한시에서 시작된 유행이 지속되어 중국 전역으로 확대되는 양상으로, 가족간 전파 및 병원내 의료진 집단감염 발생이 보고되는 등 사람간 전파의 사례가 보고되고 있습니다.</li>
                                        </ul>
                                        <p class="q">Q. 화난 해산물 시장 외 다른 감염원의 가능성이 제기되는가?</p>
                                        <ul class="a">
                                            <li>초기와는 달리 현재 화난 해산물시장 방문력이 확인되지 않은 환자들이 보고되고 있어 다른 감염원의 가능성을 배제할 수 없습니다.</li>
                                        </ul>
                                        <h3>검역</h3>
                                        <p class="q">Q. 중국을 방문하고, 입국할 경우 검역은 어떻게 이루어지는지요?</p>
                                        <ul class="a">
                                            <li>입국장에서 발열감시카메라를 통한 발열검사 및 건강상태질문서를 확인하며 발열, 호흡기(기침, 인후통 등) 증상 및 역학적 연관성을 고려하여 격리조치대상에 해당되면 국가지정 입원치료병상으로 이송합니다.</li>
                                        </ul>
                                        <p class="q">Q. 중국 후베이성(우한시 포함) 방문 후 중국 제3지역 또는 항만에서의 검역은 어떻게 이루어지나?</p>
                                        <ul class="a">
                                            <li>전국 검역소 입국장에서는 입국하는 모든 여객선 승객에 대해서 발열감시카메라를 통한 발열검사 및 건강상태질문서를 확인합니다.</li>
                                            <li>질병관리본부는 감염병의 잠복기로 인한 검역의 한계를 인지하고, 입국검역과 지역사회와의 감염병관리 연계*를 추진 중입니다. <br>* 중국에서 입국한 내·외국인의 해외여행이력 정보를 14일 동안 일선 의료기관으로 공유하여 지역사회 의료기관에서의 신속한 의심환자 구분 가능</li>
                                        </ul>
                                        <p class="q">Q. 중국은 오염지역으로 지정되어 관리 중인가 ?</p>
                                        <ul class="a">
                                            <li>중국 전체로 오염지역을 확대 지정하여 검역관리 수행 중입니다.(’20.1.28.~)</li>
                                        </ul>
                                        <h3>접촉자</h3>
                                        <p class="q">Q. 접촉자 범위는 어떻게 설정하는가?</p>
                                        <ul class="a">
                                            <li>접촉자는 환자의 증상발생기간 중 항공기, 공항, 의료기관, 일상생활 등에서 환자와 접촉한 인원을 대상으로 노출 정도와 보호구 착용 여부에 따라 설정합니다.</li>
                                        </ul>
                                        <p class="q">Q. 항공기 내 접촉자 범위기준은 무엇인가요?</p>
                                        <ul class="a">
                                            <li>항공기 탑승한 환자 중심 전·후 3열의 승객을 능동감시 대상자로 분류하고 있습니다(총7열). 감염병 환자 전파를 막기 위해 세계보건기구(WHO), 국제항송수송협회(IATA), 국제민항기구(ICAO) 공동 지침에 따른 것입니다. 전문가 자문결과에서도 이러한 분류는 근거에 합당한 조치로 판단하고 있습니다.</li>
                                        </ul>
                                        <p class="q">Q. 환자가 확진되면 항공기 내 같이 탄 접촉자(승객) 조사는 어떻게 되나요? 그리고 접촉자는 어떤 조치가 이루어지고 있나요?</p>
                                        <ul class="a">
                                            <li>환자가 확진되면 동승항공기의 근접접촉자 및 공항 내 접촉자는 좌석번호 및 공항 CCTV 등을 확인하여 중앙역학조사관이 접촉자를 분류, 확인하게 됩니다.</li>
                                            <li>접촉자는 DUR을 통해 의료기관으로 명단이 공유되며, 거주지 소재 시·도로 통보하여 감시가 될 수 있도록 조치하게 됩니다.</li>
                                            <li>접촉자로 확인되면 거주지 보건소에서 연락드려 증상 여부 확인 등 조치하게 됩니다.</li>
                                        </ul>
                                        <h3>감염병 문의</h3>
                                        <p class="q">Q. 코로나 바이러스는 어떤 바이러스인가요?</p>
                                        <ul class="a">
                                            <li>코로나 바이러스는 동물 및 사람에게 전파될 수 있는 바이러스로, 그중 사람에게 전파가능한 사람 코로나바이러스는 현재 6종이 알려져 있습니다. 이중 4종은 감기와 같은 질병을 일으키는 바이러스이며, 나머지 2종은 각각 MERS 코로나 바이러스와 SARS 코로나 바이러스로 알려져 있습니다. 이번 중국 우한시 폐렴을 통해 신종 코로나바이러스가 사람에게 전파된다고 알려졌으며, 현재 신종 코로나바이러스의 공개된 염기서열분석을 통해 질병관리본부에서는 신종 코로나바이러스가 박쥐유래사스유사 바이러스와 89.1% 일치하는 것을 확인하였습니다.</li>
                                        </ul>
                                        <p class="q">Q. 확진자도 폐렴은 없는데, 본 질병의 공식 용어는 무엇인가요?</p>
                                        <ul class="a">
                                            <li>‘신종코로나바이러스감염증’을 질병명으로 사용하고 있습니다. 외국의 명명법도 2019 신종코로나바이러스(2019-nCov) 감염증입니다.</li>
                                        </ul>
                                        <h3>치료</h3>
                                        <p class="q">Q. 확실한 치료제가 없다던데, 어떻게 치료를 하고 있나요?</p>
                                        <ul class="a">
                                            <li>아직 백신이나 완치 치료제는 없습니다. 증상에 대한 치료를 하고 있습니다.</li>
                                        </ul>
                                        <p class="q">Q. 신종 코로나바이러스감염증은 백신이나 치료제가 있나요?</p>
                                        <ul class="a">
                                            <li>현재 알려져 있는 백신이나 치료제는 없으며, 치료는 증상에 따른 조치를 취하게 됩니다.</li>
                                        </ul>
                                        <h3>기타</h3>
                                        <p class="q">Q. 조사대상 유증상자 조치는 무엇인가요?</p>
                                        <ul class="a">
                                            <li>역학조사를 통해 조사대상 유증상자로 분류된 분들은 국가지정 입원치료병상에 입원하여 진단검사를 받습니다.</li>
                                        </ul>
                                        <p class="q">Q. 외국인 등이 입국 시 증상이 있어도 신고 안할 경우 대책은 무엇인가요?</p>
                                        <ul class="a">
                                            <li>중국에서 입국하는 외국인에 대해서는 입국 시 다국어(중국어, 영어)로 작성된 행동수칙 홍보물을 제공하고 있습니다. 또한 의료기관에서는 외국 여행력 등에 대해 반드시 질문할 수 있도록 안내하고 있습니다.</li>
                                            <li>입국자는 중국 여행력이 있는 경우 건강보험심사평가원의 DUR/ITS 시스템을 통해 의료기관에 입국자 정보를 제공하며, 이를 통해 의료기관 방문 시 환자를 구분하여 진료, 신고할 수 있도록 하고 있습니다.</li>
                                        </ul>
                                        <p class="q">Q. 중국 보건당국과 정보교류의 구체적 방법은 무엇인가요?</p>
                                        <ul class="a">
                                            <li>세계보건기구의 국제보건규약(IHR)에 따라 지정된 각 국가 공식 연락담당관(National Focal Point)을 통해 중국과 정보교류를 하고 있습니다. 이 외에 한-중 질병관리본부 간 소통채널과 현지공관의 채널도 활용하고 있습니다.</li>
                                        </ul>
                                        <p class="q">Q. 중국 의료진이 확진되었다고 하는데, 우리나라 국가지정격리병원 의료인은 안전할 수 있는가요?</p>
                                        <ul class="a">
                                            <li>
                                                의료진은 항상 감염병에 노출되고 있어 높은 수준의 감염관리가 필요합니다. 우리나라 국가지정격리병원은 음압실과 보호장비*를 보유하고 있으며 충분히 훈련된 의료진이 있습니다. 또한 최상의 감염방지를 위해 노력 중입니다.
                                                <br>개인보호구(레벨D 세트, N95 호흡보호구, 일반마스크 등)를 지원하고 있음.
                                            </li>
                                            <li>아울러, 국가지정 입원치료병상은 전담 감염관리팀에서 병원 내 감염예방 및 환경개선을 위한 교육·훈련을 정기적으로 실시하여 감염관리에 철저를 기하고 있습니다.</li>
                                        </ul>
                                        <p class="q">Q. 위기평가회의에서 위기경보를 ‘주의’에서 ‘경계’단계로 상향조정하게 된 근거와 내용은?</p>
                                        <ul class="a">
                                            <li>확진환자가 추가로 발생한 상황과 세계적인 확산 추세 등을 고려할 때 해외에서 유입된 신종 코로나바이러스감염증의 국내 추가 유입 및 전파 가능성이 매우 높다고 판단하여 위기평가회의를 통하여 ‘주의’에서 ‘경계’단계로 상향 조정하였습니다.</li>
                                            <li>이에 따라 기존의 질병관리본부의 중앙방역대책본부 운영은 지속하되, 보건복지부에 중앙사고수습본부를 설치하여 유관기관에 대한 협조 요청, 관련 예산 확보 등 범정부적으로 대응체계를 강화합니다.</li>
                                        </ul>
                                        <p class="q">Q. 세계보건기구에서 국제공중보건위기상황(PHEIC)을 선포하게 되면 무엇이 달라지게 되는가요?</p>
                                        <ul class="a">
                                            <li>긴급위원회를 개최하여 질병 특성을 규정하고, 현재 상황과 위험도 평가, 예방을 위한 권고사항 등이 발표됩니다. 이는 국제적으로 통용되는 규정으로 각국은 권고사항에 따라 필요한 조치를 취하게 됩니다.</li>
                                        </ul>
                                        <p class="q">Q. 중국을 경유하는 전체 국제선의 승무원들이 마스크를 착용해야하나요?</p>
                                        <ul class="a">
                                            <li>현재 중국뿐만 아니라 해외 여러 국가에서 확진환자가 발생하고 있고, 해외여행객과 장시간 같은 공간에 함께 있는 항공기 승무원의 경우 감염예방을 위해 마스크를 착용할 것을 권고드리나, 해당 항공사의 감염예방 규정에 따라 실시하여 주시기 바랍니다.</li>
                                            <li>또한 올바른 손씻기와 기침예절 등 감염 예방 수칙을 지켜주시기 바랍니다.</li>
                                        </ul>
                                    </div>
                                    <!--                     <div class="img_wrap">
                                        <img src="/images/img_qna.jpg" alt="어린이집 Q&A">
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <!--대응절차 팝업 -->
                        <div class="popup_layer" style="display:@(viewModel.IndexPop == IndexPop.Pop3 ? "block": "none");">
                            <div class="popup_header">
                                <h2>대응절차</h2>
                                <a href="javascript:;" class="popup_close" @onclick="() => viewModel.ClosePop()">닫기</a>
                            </div>
                            <div class="popup_body">
                                <div class="scroll">
                                    <div class="img_wrap">
                                        <img src="/images/img_process.png" alt="대응절차">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dimmed" style="display:@(viewModel.IndexPop != IndexPop.None ? "block": "none");"></div>
                    </ViewModelRegion>